/*
Hindsight HTTP API

HTTP API for Hindsight

API version: 0.10.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hindsight

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
	"os"
)


// BankTransferAPIService BankTransferAPI service
type BankTransferAPIService service

type ApiCloneBankRequest struct {
	ctx context.Context
	ApiService *BankTransferAPIService
	bankId string
	targetBankId *string
	includeData *bool
	includeBankConfig *bool
	includeHistory *bool
	authorization *string
}

// Bank to create; must not already exist
func (r ApiCloneBankRequest) TargetBankId(targetBankId string) ApiCloneBankRequest {
	r.targetBankId = &targetBankId
	return r
}

// Copy the memories, what backs them, and the mental models and knowledge pages synthesized from them
func (r ApiCloneBankRequest) IncludeData(includeData bool) ApiCloneBankRequest {
	r.includeData = &includeData
	return r
}

// Copy the bank&#39;s config overrides, directives and webhooks
func (r ApiCloneBankRequest) IncludeBankConfig(includeBankConfig bool) ApiCloneBankRequest {
	r.includeBankConfig = &includeBankConfig
	return r
}

// Copy audit_log and llm_requests
func (r ApiCloneBankRequest) IncludeHistory(includeHistory bool) ApiCloneBankRequest {
	r.includeHistory = &includeHistory
	return r
}

func (r ApiCloneBankRequest) Authorization(authorization string) ApiCloneBankRequest {
	r.authorization = &authorization
	return r
}

func (r ApiCloneBankRequest) Execute() (*BankTransferSubmitResponse, *http.Response, error) {
	return r.ApiService.CloneBankExecute(r)
}

/*
CloneBank Clone a bank (async)

Copy this bank into a new one, in a single call. The clone starts with the source's memories as they are at clone time and evolves independently from then on: later retains, consolidation and edits on either bank leave the other alone.

This is the export and import above run back to back on this instance, so nothing is re-extracted and no LLM is called — facts are re-embedded and entities re-resolved, exactly as a restore does. The same three flags choose what the clone inherits: include_data (documents, facts, observations, attachments, the curation archive, the operations log, and the mental models and knowledge pages synthesized from them), include_bank_config (the bank's config overrides, directives and **webhooks**) and include_history (audit_log, llm_requests).

Note the webhooks: they travel with the bank's configuration, so a clone made with the default flags will call the source's webhook endpoints. Pass include_bank_config=false, or delete them on the clone, when they point at a per-bank consumer.

target_bank_id must not already exist. Returns an operation_id, recorded against the source bank (the target does not exist yet); poll GET /v1/default/banks/{bank_id}/operations/{operation_id} for status and the per-component counts.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param bankId
 @return ApiCloneBankRequest
*/
func (a *BankTransferAPIService) CloneBank(ctx context.Context, bankId string) ApiCloneBankRequest {
	return ApiCloneBankRequest{
		ApiService: a,
		ctx: ctx,
		bankId: bankId,
	}
}

// Execute executes the request
//  @return BankTransferSubmitResponse
func (a *BankTransferAPIService) CloneBankExecute(r ApiCloneBankRequest) (*BankTransferSubmitResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BankTransferSubmitResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BankTransferAPIService.CloneBank")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/default/banks/{bank_id}/clone"
	localVarPath = strings.Replace(localVarPath, "{"+"bank_id"+"}", url.PathEscape(parameterValueToString(r.bankId, "bankId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.targetBankId == nil {
		return localVarReturnValue, nil, reportError("targetBankId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "target_bank_id", r.targetBankId, "form", "")
	if r.includeData != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_data", r.includeData, "form", "")
	} else {
		var defaultValue bool = true
		r.includeData = &defaultValue
	}
	if r.includeBankConfig != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_bank_config", r.includeBankConfig, "form", "")
	} else {
		var defaultValue bool = true
		r.includeBankConfig = &defaultValue
	}
	if r.includeHistory != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_history", r.includeHistory, "form", "")
	} else {
		var defaultValue bool = false
		r.includeHistory = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiExportBankTransferRequest struct {
	ctx context.Context
	ApiService *BankTransferAPIService
	bankId string
	includeData *bool
	includeBankConfig *bool
	includeHistory *bool
	documentId *[]string
	authorization *string
}

// Carry the memories and everything backing them
func (r ApiExportBankTransferRequest) IncludeData(includeData bool) ApiExportBankTransferRequest {
	r.includeData = &includeData
	return r
}

// Carry the bank&#39;s config overrides, directives and webhooks
func (r ApiExportBankTransferRequest) IncludeBankConfig(includeBankConfig bool) ApiExportBankTransferRequest {
	r.includeBankConfig = &includeBankConfig
	return r
}

// Carry audit_log and llm_requests
func (r ApiExportBankTransferRequest) IncludeHistory(includeHistory bool) ApiExportBankTransferRequest {
	r.includeHistory = &includeHistory
	return r
}

// Document id(s); omit for the whole bank
func (r ApiExportBankTransferRequest) DocumentId(documentId []string) ApiExportBankTransferRequest {
	r.documentId = &documentId
	return r
}

func (r ApiExportBankTransferRequest) Authorization(authorization string) ApiExportBankTransferRequest {
	r.authorization = &authorization
	return r
}

func (r ApiExportBankTransferRequest) Execute() (*BankTransferSubmitResponse, *http.Response, error) {
	return r.ApiService.ExportBankTransferExecute(r)
}

/*
ExportBankTransfer Export a bank (async)

Submit an async export of a bank as a transfer ZIP archive. Three flags choose what the archive carries: include_data (documents, facts, observations, attachments and their bytes, the curation archive, the operations log and the maintenance queues), include_bank_config (bank config, mental models and their history, knowledge pages), include_bank_config (the bank's config overrides, directives and webhooks) and include_history (audit_log, llm_requests). Embeddings and database ids are never carried — importing re-embeds with the target bank's model and re-resolves entities, so an archive moves between instances configured with different embedding models. Returns an operation_id; poll GET /v1/default/banks/{bank_id}/operations/{operation_id}, then fetch the archive from the download_url in its result_metadata. Pass document_id to export specific documents instead of the whole bank (a document subset carries no bank-level sections).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param bankId
 @return ApiExportBankTransferRequest
*/
func (a *BankTransferAPIService) ExportBankTransfer(ctx context.Context, bankId string) ApiExportBankTransferRequest {
	return ApiExportBankTransferRequest{
		ApiService: a,
		ctx: ctx,
		bankId: bankId,
	}
}

// Execute executes the request
//  @return BankTransferSubmitResponse
func (a *BankTransferAPIService) ExportBankTransferExecute(r ApiExportBankTransferRequest) (*BankTransferSubmitResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BankTransferSubmitResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BankTransferAPIService.ExportBankTransfer")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/default/banks/{bank_id}/transfer/export"
	localVarPath = strings.Replace(localVarPath, "{"+"bank_id"+"}", url.PathEscape(parameterValueToString(r.bankId, "bankId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.includeData != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_data", r.includeData, "form", "")
	} else {
		var defaultValue bool = true
		r.includeData = &defaultValue
	}
	if r.includeBankConfig != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_bank_config", r.includeBankConfig, "form", "")
	} else {
		var defaultValue bool = true
		r.includeBankConfig = &defaultValue
	}
	if r.includeHistory != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_history", r.includeHistory, "form", "")
	} else {
		var defaultValue bool = false
		r.includeHistory = &defaultValue
	}
	if r.documentId != nil {
		t := *r.documentId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "document_id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "document_id", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiImportBankTransferRequest struct {
	ctx context.Context
	ApiService *BankTransferAPIService
	bankId string
	file *os.File
	mode *string
	targetBankId *string
	documentConflict *string
	includeData *bool
	includeBankConfig *bool
	includeHistory *bool
	authorization *string
}

// Transfer ZIP archive
func (r ApiImportBankTransferRequest) File(file *os.File) ApiImportBankTransferRequest {
	r.file = file
	return r
}

// restore (into a fresh bank) | merge (into this bank)
func (r ApiImportBankTransferRequest) Mode(mode string) ApiImportBankTransferRequest {
	r.mode = &mode
	return r
}

// restore mode: the bank to create; defaults to the archive&#39;s source bank
func (r ApiImportBankTransferRequest) TargetBankId(targetBankId string) ApiImportBankTransferRequest {
	r.targetBankId = &targetBankId
	return r
}

// merge mode: skip | replace | new-id
func (r ApiImportBankTransferRequest) DocumentConflict(documentConflict string) ApiImportBankTransferRequest {
	r.documentConflict = &documentConflict
	return r
}

// restore mode: carry the memories and everything backing them (default true)
func (r ApiImportBankTransferRequest) IncludeData(includeData bool) ApiImportBankTransferRequest {
	r.includeData = &includeData
	return r
}

// restore mode: restore the bank&#39;s config overrides, directives and webhooks (default true)
func (r ApiImportBankTransferRequest) IncludeBankConfig(includeBankConfig bool) ApiImportBankTransferRequest {
	r.includeBankConfig = &includeBankConfig
	return r
}

// restore mode: carry audit_log and llm_requests (default false)
func (r ApiImportBankTransferRequest) IncludeHistory(includeHistory bool) ApiImportBankTransferRequest {
	r.includeHistory = &includeHistory
	return r
}

func (r ApiImportBankTransferRequest) Authorization(authorization string) ApiImportBankTransferRequest {
	r.authorization = &authorization
	return r
}

func (r ApiImportBankTransferRequest) Execute() (*BankTransferSubmitResponse, *http.Response, error) {
	return r.ApiService.ImportBankTransferExecute(r)
}

/*
ImportBankTransfer Import a bank (async)

Submit a transfer archive (produced by the export endpoint) for import. Runs as a background operation: facts are re-embedded with the target bank's embedding model and entities are re-resolved — no LLM extraction, so the import costs no tokens and invents no new facts.

Two modes. `restore` (default) writes a whole bank into target_bank_id, which must NOT already exist — it restores a bank rather than merging into one, and is how a bank is moved between instances or copied under a new id. `merge` folds an archive's documents into this bank, with document_conflict deciding what happens to ids that already exist (skip, replace, new-id).

The include flags narrow what is restored to a subset of what the archive holds; they cannot add what the producer did not export. Returns an operation_id; poll GET /v1/default/banks/{bank_id}/operations/{operation_id} for status and per-component counts. The operation is recorded against {bank_id} even in restore mode, because the target bank does not exist yet.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param bankId
 @return ApiImportBankTransferRequest
*/
func (a *BankTransferAPIService) ImportBankTransfer(ctx context.Context, bankId string) ApiImportBankTransferRequest {
	return ApiImportBankTransferRequest{
		ApiService: a,
		ctx: ctx,
		bankId: bankId,
	}
}

// Execute executes the request
//  @return BankTransferSubmitResponse
func (a *BankTransferAPIService) ImportBankTransferExecute(r ApiImportBankTransferRequest) (*BankTransferSubmitResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BankTransferSubmitResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BankTransferAPIService.ImportBankTransfer")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/default/banks/{bank_id}/transfer/import"
	localVarPath = strings.Replace(localVarPath, "{"+"bank_id"+"}", url.PathEscape(parameterValueToString(r.bankId, "bankId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.file == nil {
		return localVarReturnValue, nil, reportError("file is required and must be specified")
	}

	if r.mode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "mode", r.mode, "form", "")
	} else {
		var defaultValue string = "restore"
		r.mode = &defaultValue
	}
	if r.targetBankId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "target_bank_id", r.targetBankId, "form", "")
	}
	if r.documentConflict != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "document_conflict", r.documentConflict, "form", "")
	} else {
		var defaultValue string = "skip"
		r.documentConflict = &defaultValue
	}
	if r.includeData != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_data", r.includeData, "form", "")
	}
	if r.includeBankConfig != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_bank_config", r.includeBankConfig, "form", "")
	}
	if r.includeHistory != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_history", r.includeHistory, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	var fileLocalVarFormFileName string
	var fileLocalVarFileName     string
	var fileLocalVarFileBytes    []byte

	fileLocalVarFormFileName = "file"
	fileLocalVarFile := r.file

	if fileLocalVarFile != nil {
		fbs, _ := io.ReadAll(fileLocalVarFile)

		fileLocalVarFileBytes = fbs
		fileLocalVarFileName = fileLocalVarFile.Name()
		fileLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: fileLocalVarFileBytes, fileName: fileLocalVarFileName, formFileName: fileLocalVarFormFileName})
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
