/*
Hindsight HTTP API

HTTP API for Hindsight

API version: 0.8.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hindsight

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// GraphitiAPIService GraphitiAPI service
type GraphitiAPIService service

type ApiGraphitiEdgeInvalidatedRequest struct {
	ctx context.Context
	ApiService *GraphitiAPIService
	bankId string
	graphitiEdgeInvalidatedRequest *GraphitiEdgeInvalidatedRequest
	authorization *string
}

func (r ApiGraphitiEdgeInvalidatedRequest) GraphitiEdgeInvalidatedRequest(graphitiEdgeInvalidatedRequest GraphitiEdgeInvalidatedRequest) ApiGraphitiEdgeInvalidatedRequest {
	r.graphitiEdgeInvalidatedRequest = &graphitiEdgeInvalidatedRequest
	return r
}

func (r ApiGraphitiEdgeInvalidatedRequest) Authorization(authorization string) ApiGraphitiEdgeInvalidatedRequest {
	r.authorization = &authorization
	return r
}

func (r ApiGraphitiEdgeInvalidatedRequest) Execute() (*GraphitiBackflowResult, *http.Response, error) {
	return r.ApiService.GraphitiEdgeInvalidatedExecute(r)
}

/*
GraphitiEdgeInvalidated C4 channel-B backflow: Graphiti edge invalidated upstream

Posted by the Graphiti overlay (or any external service) when an upstream edge is invalidated. The engine resolves the source_uri back to a local memory, re-consolidates the affected observations, and (when graphiti_backflow_supersession is on) stamps a B1 supersession row. Returns 200 with the backflow result, or 404 when the source_uri is cross-bank, malformed, or points at a memory the bank has since deleted. Gated on the per-bank `graphiti_backflow_enabled` flag — returns 404 (not 503) when disabled so the endpoint is invisible to the overlay while the feature is rolled forward.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param bankId
 @return ApiGraphitiEdgeInvalidatedRequest
*/
func (a *GraphitiAPIService) GraphitiEdgeInvalidated(ctx context.Context, bankId string) ApiGraphitiEdgeInvalidatedRequest {
	return ApiGraphitiEdgeInvalidatedRequest{
		ApiService: a,
		ctx: ctx,
		bankId: bankId,
	}
}

// Execute executes the request
//  @return GraphitiBackflowResult
func (a *GraphitiAPIService) GraphitiEdgeInvalidatedExecute(r ApiGraphitiEdgeInvalidatedRequest) (*GraphitiBackflowResult, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GraphitiBackflowResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GraphitiAPIService.GraphitiEdgeInvalidated")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/default/banks/{bank_id}/graphiti/edge-invalidated"
	localVarPath = strings.Replace(localVarPath, "{"+"bank_id"+"}", url.PathEscape(parameterValueToString(r.bankId, "bankId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.graphitiEdgeInvalidatedRequest == nil {
		return localVarReturnValue, nil, reportError("graphitiEdgeInvalidatedRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	// body params
	localVarPostBody = r.graphitiEdgeInvalidatedRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
