/*
Hindsight HTTP API

HTTP API for Hindsight

API version: 0.7.2
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hindsight

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// LLMTracesAPIService LLMTracesAPI service
type LLMTracesAPIService service

type ApiListLlmRequestsRequest struct {
	ctx context.Context
	ApiService *LLMTracesAPIService
	bankId string
	status *string
	operation *string
	scope *string
	provider *string
	traceId *string
	documentId *string
	memoryId *string
	group *bool
	startDate *string
	endDate *string
	limit *int32
	offset *int32
	authorization *string
}

// Filter by status (success, error)
func (r ApiListLlmRequestsRequest) Status(status string) ApiListLlmRequestsRequest {
	r.status = &status
	return r
}

// Filter by operation (retain, reflect, consolidation)
func (r ApiListLlmRequestsRequest) Operation(operation string) ApiListLlmRequestsRequest {
	r.operation = &operation
	return r
}

// Filter by call scope
func (r ApiListLlmRequestsRequest) Scope(scope string) ApiListLlmRequestsRequest {
	r.scope = &scope
	return r
}

// Filter by LLM provider
func (r ApiListLlmRequestsRequest) Provider(provider string) ApiListLlmRequestsRequest {
	r.provider = &provider
	return r
}

// Filter to one operation run (all LLM calls sharing a trace)
func (r ApiListLlmRequestsRequest) TraceId(traceId string) ApiListLlmRequestsRequest {
	r.traceId = &traceId
	return r
}

// Filter to LLM calls that processed a given document
func (r ApiListLlmRequestsRequest) DocumentId(documentId string) ApiListLlmRequestsRequest {
	r.documentId = &documentId
	return r
}

// Filter to the operation run(s) that produced or consumed a given memory_unit
func (r ApiListLlmRequestsRequest) MemoryId(memoryId string) ApiListLlmRequestsRequest {
	r.memoryId = &memoryId
	return r
}

// Paginate by operation run (trace) instead of by call; returns whole runs
func (r ApiListLlmRequestsRequest) Group(group bool) ApiListLlmRequestsRequest {
	r.group = &group
	return r
}

// Filter from this ISO datetime (inclusive)
func (r ApiListLlmRequestsRequest) StartDate(startDate string) ApiListLlmRequestsRequest {
	r.startDate = &startDate
	return r
}

// Filter until this ISO datetime (exclusive)
func (r ApiListLlmRequestsRequest) EndDate(endDate string) ApiListLlmRequestsRequest {
	r.endDate = &endDate
	return r
}

// Max items to return
func (r ApiListLlmRequestsRequest) Limit(limit int32) ApiListLlmRequestsRequest {
	r.limit = &limit
	return r
}

// Offset for pagination
func (r ApiListLlmRequestsRequest) Offset(offset int32) ApiListLlmRequestsRequest {
	r.offset = &offset
	return r
}

func (r ApiListLlmRequestsRequest) Authorization(authorization string) ApiListLlmRequestsRequest {
	r.authorization = &authorization
	return r
}

func (r ApiListLlmRequestsRequest) Execute() (*LLMRequestListResponse, *http.Response, error) {
	return r.ApiService.ListLlmRequestsExecute(r)
}

/*
ListLlmRequests List LLM request traces

List traced LLM requests for a bank, ordered by most recent first. Requires LLM request tracing to be enabled (HINDSIGHT_API_LLM_TRACE_ENABLED).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param bankId
 @return ApiListLlmRequestsRequest
*/
func (a *LLMTracesAPIService) ListLlmRequests(ctx context.Context, bankId string) ApiListLlmRequestsRequest {
	return ApiListLlmRequestsRequest{
		ApiService: a,
		ctx: ctx,
		bankId: bankId,
	}
}

// Execute executes the request
//  @return LLMRequestListResponse
func (a *LLMTracesAPIService) ListLlmRequestsExecute(r ApiListLlmRequestsRequest) (*LLMRequestListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *LLMRequestListResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LLMTracesAPIService.ListLlmRequests")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/default/banks/{bank_id}/llm-requests"
	localVarPath = strings.Replace(localVarPath, "{"+"bank_id"+"}", url.PathEscape(parameterValueToString(r.bankId, "bankId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.operation != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "operation", r.operation, "form", "")
	}
	if r.scope != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope", r.scope, "form", "")
	}
	if r.provider != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "provider", r.provider, "form", "")
	}
	if r.traceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "trace_id", r.traceId, "form", "")
	}
	if r.documentId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "document_id", r.documentId, "form", "")
	}
	if r.memoryId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "memory_id", r.memoryId, "form", "")
	}
	if r.group != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "group", r.group, "form", "")
	} else {
		var defaultValue bool = false
		r.group = &defaultValue
	}
	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_date", r.startDate, "form", "")
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_date", r.endDate, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 50
		r.limit = &defaultValue
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	} else {
		var defaultValue int32 = 0
		r.offset = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiLlmRequestStatsRequest struct {
	ctx context.Context
	ApiService *LLMTracesAPIService
	bankId string
	operation *string
	period *string
	authorization *string
}

// Filter by operation
func (r ApiLlmRequestStatsRequest) Operation(operation string) ApiLlmRequestStatsRequest {
	r.operation = &operation
	return r
}

// Time period: 1d, 7d, or 30d
func (r ApiLlmRequestStatsRequest) Period(period string) ApiLlmRequestStatsRequest {
	r.period = &period
	return r
}

func (r ApiLlmRequestStatsRequest) Authorization(authorization string) ApiLlmRequestStatsRequest {
	r.authorization = &authorization
	return r
}

func (r ApiLlmRequestStatsRequest) Execute() (*LLMRequestStatsResponse, *http.Response, error) {
	return r.ApiService.LlmRequestStatsExecute(r)
}

/*
LlmRequestStats LLM request statistics

Get LLM request counts grouped by time bucket and status for charting.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param bankId
 @return ApiLlmRequestStatsRequest
*/
func (a *LLMTracesAPIService) LlmRequestStats(ctx context.Context, bankId string) ApiLlmRequestStatsRequest {
	return ApiLlmRequestStatsRequest{
		ApiService: a,
		ctx: ctx,
		bankId: bankId,
	}
}

// Execute executes the request
//  @return LLMRequestStatsResponse
func (a *LLMTracesAPIService) LlmRequestStatsExecute(r ApiLlmRequestStatsRequest) (*LLMRequestStatsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *LLMRequestStatsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LLMTracesAPIService.LlmRequestStats")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/default/banks/{bank_id}/llm-requests/stats"
	localVarPath = strings.Replace(localVarPath, "{"+"bank_id"+"}", url.PathEscape(parameterValueToString(r.bankId, "bankId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.operation != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "operation", r.operation, "form", "")
	}
	if r.period != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "period", r.period, "form", "")
	} else {
		var defaultValue string = "7d"
		r.period = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
